
.ui-combobox {
  
  @include flex-left;
/*
  > * {
    width: 100%;
  }
  */

  > label {
    color: $color-green;
    margin-bottom: .5rem;
  }

  &:not(.allow-search) > .combobox-input > input {
    cursor: pointer;
  }
  
  > .combobox-input {
    cursor: pointer;
    @include theme($color-greenish-gray, true);
    @include transition();
    @include border();
    @include flex-left(center, nowrap);
    width: 100%;

    > input {
      @include theme($color-greenish-gray);
      @include justContent();
      @include padding();
      border-right: 1px solid $color-green;
      flex-grow: 1;
      width: inherit;
    }

    > div {
      @include flex();
      margin: 0 .5rem;

      > svg {
        color: $color-green;
      }
    }

  }

  @mixin comboboxItemStyle($categorized: false) {
    > button {
      @include padding();
      @include justContent();
      @include transition();
      text-align: left;
      width: 100%;
      color: white;
      cursor: pointer;

      @if $categorized {
        padding-left: 1.5rem;
      } @else {
        &:first-child {
          border-radius: 4px 4px 0 0;
        }
  
        &:last-child {
          border-radius: 0 0 4px 4px;
        }
      }

      &:hover {
        @include theme($color-dark-green);
        color: $color-greenish-gray;
      }

      &.active {
        @include theme($color-green);
      }
    }
  }

  > .ui-popover {

    .combobox-items {
      @include flex();
      @include comboboxItemStyle();

      > div {
        width: 100%;
        > h5 {
          color: $color-green;
          background-color: $color-greenish-black;
          @include padding();
        }
        > div {
          @include comboboxItemStyle(true);
        }

        &:first-child > h5 {
          border-radius: 4px 4px 0 0;
        }
  
        &:last-child > div > button:last-child {
          border-radius: 0 0 4px 4px;
        }
      }
      
    }

  }
}