
@mixin theme($color, $hover:false) {
  background-color: $color;
  @if 
    $color == $color-green or
    $color == $color-yellow or
    $color == $color-red {
      color: $color-greenish-black;
      @if $hover {
        @include transition();
        &:not(:disabled):hover {
          @if $color == $color-green {
            background-color: $color-dark-green;
          }
          @else if $color == $color-red {
            background-color: $color-dark-red;
          }
          @else if $color == $color-yellow {
            background-color: $color-dark-yellow;
          }
        }
      }
    }
  @else if
    $color == $color-greenish-black or
    $color == $color-greenish-gray {
      color: white;
      @if $hover {
        @include transition();
        &:not(:disabled):hover {
          @if $color == $color-greenish-black {
            background-color: $color-greenish-gray;
          }
          @else if $color == $color-greenish-gray {
            background-color: $color-greenish-light-gray;
          }
        }
      }
    }
}

@mixin transition($time: .25s) {
  transition: all $time;
  transition-timing-function: $standard-timing-function;
}

@mixin infiniteAnimation($animationName, $time: 4s, $function: linear) {
  animation-name: $animationName;
  animation-duration: $time;
  animation-timing-function: $function;
  animation-iteration-count: infinite;
}

@mixin animation($animationName) {
  animation-name: $animationName;
  animation-duration: 1s;
  animation-timing-function: $standard-timing-function;
  animation-fill-mode: forwards;
}

@mixin reverseAnimation($animationName) {
  @include animation($animationName);
  animation-direction: reverse;
}

@mixin fadeIn($className, $includeTrasition:false) {
  .#{$className} {
    @if $includeTrasition {@include transition();}
    opacity: 1;
    visibility: visible;
  }
}

@mixin fadeOut($className, $includeTrasition:false) {
  &:not(.#{$className}) {
    @if $includeTrasition {@include transition();}
    opacity: 0;
    visibility: hidden;
  }
}

@mixin fadeInOut($className, $includeTrasition:false) {
  @if $includeTrasition {@include transition();}
  @include fadeIn($className);
  @include fadeOut($className);
}

@mixin justContent() {
  background-color: transparent;
  @include noBorder();
}

@mixin inlineFlex($horizontal:center, $vertical:center, $wrap:wrap) {
  display: inline-flex;
  flex-wrap: $wrap;
  justify-content: $horizontal;
  align-items: $vertical;
}

@mixin flex($horizontal:center, $vertical:center, $wrap:wrap) {
  display: flex;
  flex-wrap: $wrap;
  justify-content: $horizontal;
  align-items: $vertical;
}

@mixin flex-left($vertical:center, $wrap:wrap) {
  @include flex(flex-start, $vertical, $wrap);
}

@mixin flex-right($vertical:center, $wrap:wrap) {
  @include flex(flex-end, $vertical, $wrap);
}

@mixin shadow() {
  box-shadow: 0 2px 4px black;
}

@mixin border($radius: 4px) {
  @include borderNoShadow($radius);
  @include shadow();
}

@mixin borderNoShadow($radius: 4px) {
  border-radius: $radius;
  @include noBorder();
}

@mixin border-rounded() {
  @include border(9999px);
}

@mixin noBorder() {
  border: none;
  outline: none;
}

@mixin padding() {
  padding: .5rem 1rem;
}

@mixin margin() {
  margin: .5rem;
}

@mixin screenSize() {
  width: 100vw;
  height: 100vh;
}
