
/*==============================
            COLORS
==============================*/

$color-green: #7BFF65;
$color-dark-green: #34A522;
$color-red: #FF6565;
$color-dark-red: #A54040;
$color-greenish-black: #35373b;
$color-greenish-gray: #303235;
$color-greenish-light-gray: #393a3f;
$color-greenish-black-transparent: #35373baa;
$color-greenish-gray-transparent: #303235aa;
$color-background: #1C1C1CB0;
$color-blue: #4faaff;
$color-yellow: #ffd95e;
$color-dark-yellow: #c2a442;

/*==============================
        TIMING FUNCTIONS
==============================*/

$standard-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

/*==============================
          FIXED VALUES
==============================*/

$screen-width: 100vw;
$screen-height: 100vh;
$topbar-height: 40px;
$content-height: calc($screen-height - $topbar-height);
$side-menu-width: 280px;