

.ui-textfield {

  &.default {
    @include flex();

    > label {
      color: $color-green;
      margin-bottom: .5rem;
    }

    > * {
      width: 100%;
    }

    &:not(.hasIcon) {
      > input {
        @include theme($color-greenish-gray);
        @include border();
        @include padding();
      }
    }

    &.hasIcon {
      > label {
        width: 100%;
      }

      > div {

        @include flex(center, center, nowrap);
        @include theme($color-greenish-gray);
        @include border();

        > button {
          @include justContent;
          @include flex;
          padding: .6rem;

          > svg {
            color: $color-green;
          }

        }

        &.icon-as-button {
          @include transition();

          > button:hover {
            @include theme($color-greenish-black);
            cursor: pointer;
          } 
        }

        > input {
          @include padding();
          @include justContent();
          @include theme($color-greenish-gray);
          border-right: 1px solid $color-green;
          border-radius: 4px 0 0 4px;

          flex-grow: 1;
        }

/*
        @include flex(center, center, nowrap);
        @include theme($color-greenish-gray);
        @include border();

        &.icon-as-button {
          @include transition();
        }

        &.icon-as-button:has(> input:not(:hover)):hover {
          @include theme($color-greenish-black);
          cursor: pointer;
        }

        > svg {
          color: $color-green;
          margin: 0 .5rem;
        }

        > input {
          @include padding();
          @include justContent();
          @include theme($color-greenish-gray);
          border-right: 1px solid $color-green;
          border-radius: 4px 0 0 4px;

          flex-grow: 1;
        }
*/
      }
    }
  }

  
}