.ui-table {
    width: 100%;

    @include theme($color-greenish-black);
    @include border();
    border-collapse: collapse;

    > thead {
        height:50px;
        >tr>th {
            color:#fff;
            @include justContent();
            @include padding();
            border-bottom: 1px solid $color-green;
            
        }
    }

    > tbody {
        > tr {
            
            > td {
                color:#dedede;
                text-align:center;
                @include justContent();
                @include padding();
                //padding: 1rem;
            }

            &:nth-child(odd) > td {
                background-color: $color-greenish-gray;
            }

            &:hover > td {
                background-color: $color-dark-green;
                color: $color-greenish-black;
            }

            &.selected > td {
                background-color: $color-green;
                color: $color-greenish-black;
            }
        }



    }

    >tfoot {

        height:50px;
        >tr>td {
            border-top: 1px solid $color-green;
            color: $color-green;
            @include padding();

            >.pagination {
                display: flex;
                justify-content: flex-end;

                >svg {
                    @include transition();
                    @include borderNoShadow();
                    cursor: pointer;
                    padding: .1rem;

                    &:hover {
                        color: $color-dark-green;
                        background-color: #fff2;
                    }

                    &:first-child {
                        margin-right: .75rem;
                    }

                    &:last-child {
                        margin-left: .75rem;
                    }
                }

                >span {
                    font-size:14px;
                    @include flex();
                    margin-left: .75rem;
                }

                >.ui-textfield>input {
                    width: 24px;
                    box-shadow: none;
                    padding:0.3rem;
                    color: $color-green;
                    text-align: center;
                }
            }

        }
    }
}